<section class="column">
  <header>
    <div class="title">
      <ng-icon [name]="column().icon" size="14" class="col-icon" />
      <span class="name">{{ column().name }}</span>
    </div>
    <span class="count">{{ count() }}</span>
  </header>

  <div
    class="list"
    cdkDropList
    [cdkDropListData]="members()"
    [cdkDropListConnectedTo]="connectedTo()"
    [id]="column().id"
    (cdkDropListDropped)="dropped.emit($event)"
  >
    @for (member of members(); track trackById($index, member)) {
      <div cdkDrag [cdkDragData]="member">
        <app-member-card
          [member]="member"
          (clicked)="memberClicked.emit($event)"
        />
      </div>
    }

    <div class="empty">
      <ng-icon name="lucidePlus" size="14" />
      <span>Arraste aqui</span>
    </div>
  </div>
</section>
