<section class="column">
  <header>
    <div class="title">
      <ng-icon [name]="column().icon" size="14" class="col-icon" />
      <span class="name">{{ column().name }}</span>
    </div>
    <span class="count">{{ count() }}</span>
  </header>

  <div
    class="list"
    cdkDropList
    [id]="areaDropId()"
    [cdkDropListData]="tasks()"
    [cdkDropListConnectedTo]="connectedAreaIds()"
    (cdkDropListDropped)="taskDropped.emit($event)"
  >
    @for (task of tasks(); track trackById($index, task)) {
      <div cdkDrag [cdkDragData]="task">
        <app-task-card
          [task]="task"
          [accentColor]="column().color"
          [connectedTo]="connectedTaskIds()"
          (clicked)="taskClicked.emit($event)"
          (completed)="taskCompleted.emit($event)"
          (assigneeDropped)="assigneeDropped.emit($event)"
        />
      </div>
    }

    <div class="empty-hint">
      <ng-icon name="lucidePlus" size="13" />
      <span>Arraste aqui</span>
    </div>
  </div>
</section>
